<div *ngIf="conditions()?.length>0">
    <app-infinite-tabs>
        <app-infinite-tabs-titles>
            <app-infinite-tabs-title *ngFor="let tabTitle of tabTitles(); let i=index" [tabIndexNumber]="i">
                <div title>{{tabTitle.name + ' (' + tabTitle.zip + ')'}}</div>
                <div action (click)="closeTabEvent(tabTitle)" class="close-tab">X</div>
            </app-infinite-tabs-title>
        </app-infinite-tabs-titles>
        <app-infinite-tabs-contents>
            <app-infinite-tabs-content *ngFor="let condition of conditions(); let i=index" [tabIndexNumber]="i">
                <app-current-condition [condition]="condition"></app-current-condition>
            </app-infinite-tabs-content>
        </app-infinite-tabs-contents>
    </app-infinite-tabs>
</div>
