<div style="text-align: center; margin-bottom: 30px">
  <h1>
    <span class="weather-icon">☀️☁️</span>
    Welcome to the Weather App
    <span class="weather-icon">☀️☁️</span>
  </h1>
</div>
<div class="well zipcode-form">
  <div>
    <h2 class="input-label">Enter a zipcode:</h2>
    <input type="text" placeholder="Zipcode" class="form-control" [formControl]="zipCode" maxlength="5">
    <br>
    <button class="btn btn-primary" (click)="addLocation()" style="width: 200px"
            [disabled]="isGetCurrentConditionsByZipLoading() || zipCode.errors">
      <ng-container
        *ngTemplateOutlet="isGetCurrentConditionsByZipLoading()?loadingRef: addLocationRef"></ng-container>
    </button>
  </div>
  <div class="right-panel">
    <h2 class="input-label">Enter a cache duration:</h2>
    <input type="number" placeholder="Number of seconds" class="form-control"
           [formControl]="duration" maxlength="5">
    <br>
    <button class="btn btn-primary" (click)="changeCache()" [disabled]="!!duration.errors||!duration.dirty">
      Change cache duration (in seconds)
    </button>
  </div>
</div>

<ng-template #addLocationRef>
  Add location
</ng-template>

<ng-template #loadingRef>
  Loading...
</ng-template>
