<div>
  <div id="tab-control-bar">
    <ng-content select="app-infinite-tabs-titles"></ng-content>
  </div>
  <div id="tab-content">
    <ng-content select="app-infinite-tabs-contents"></ng-content>
  </div>
</div>

