/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    padding: 10px;
    height: 100%;
}

#loader-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.input-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 30px;
}

.zipcode-form {
    display: flex;
}

.right-panel {
    margin-left: 20px;
}

@media (max-width: 500px) {
    .zipcode-form {
        flex-direction: column;
    }

    .input-label {
        font-size: 16px;
    }

    h1 {
        font-size: 20px !important;
    }

    .right-panel {
        margin-left: 0px;
    }

    .weather-icon {
        display: none;
    }
}

app-infinite-tabs-titles {
    display: flex;
}

app-infinite-tabs-title {
    display: flex;
}

.tab-control {
    cursor: pointer;
}


.tab-control:hover {
    background-color: #286090;
}

.open-tab {
    padding: 5px 20px 5px 10px;
}

.open-tab:hover {
    color: lightgray;
}

.tab-content {
    min-height: 20px;
    min-width: 20px;
    border: black 1px solid;
    padding: 20px;
}

#tab-control-bar {
    display: flex;
}

.tab-control {
    background-color: #547bb6;
    color: white;
    margin-right: 3px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
}

.tab-control-active {
    background-color: #286090;
}

.close-tab {
    margin-right: 10px;
}

.close-tab:hover {
    color: lightgray;
}
