<div class="tab-control" [ngClass]="{'tab-control-active': selectedTab === _tabIndexNumber}">
    <div (click)="openTab()" class="open-tab">
        <ng-content select="[title]"></ng-content>
    </div>
    <ng-content select="[action]"></ng-content>
</div>
